{% extends "./base.html" %}
{% block start %}
<div id="main-content">
  <div id="shlok">🙏"
    {% for i in shlok %}
    {{i}} <br>
    {% endfor %}
  </div>
  <div id="shlok_num" class="shlok">🔗<a href="https://vedabase.io/en/library/bg/{{ch}}/{{num1}}"
      target="_blank">-Bhagvad Gita {{num}}</a></div>
  <div id="me">😎Om Chaudhari(20)<div id="post">-I am a <span class="multiple-filed"></span></div>
  </div>
</div>
<div id="about">
  <div id="title">About</div>
  <div id="txt">

    My name is Om Chaudhari, Embarking on a journey toward a Bachelor's degree in Information Technology at LDRP-ITR, my
    academic odyssey is marked by a distinguished Current Cumulative Performance Index (CPI) of 8.5. My passion for the
    dynamic realm of technology propels me beyond the confines of traditional coursework, driving me to explore and
    master various programming languages and frameworks.✨ <br> <br>

    Proficient in the foundational trio of HTML, CSS, and JS, I navigate the complexities of server-side scripting with
    expertise in Node.js. My coding repertoire extends to encompassing languages like C, C++, Java, and Python, where I
    apply Object-Oriented Programming (OOP) principles to create efficient and scalable solutions. Complementing this,
    my grasp of Data Structures and Algorithms (DSA) enhances my problem-solving skills, enabling me to tackle intricate
    challenges in the realm of IT.💫<br> <br>

    In the vast landscape of web development, I wield the power of Django to craft robust and scalable applications.
    Data manipulation becomes second nature with Pandas, as I extract valuable insights from datasets. Git serves as my
    ally in version control, ensuring seamless collaboration on projects, while SQL and MongoDB are my tools for
    efficient and structured database management.💥<br> <br>

    Responsive design is not just a concept but a practice in my projects, thanks to my adeptness with Bootstrap 5.
    Beyond the technicalities, my love for learning drives me to continuously explore emerging technologies and
    frameworks, ensuring my skill set remains at the forefront of industry trends.✌️<br> <br>

    The synthesis of my technical acumen, from OOP and DSA to Django, Pandas, and beyond, positions me as a dynamic
    force in the evolving landscape of information technology. Armed with a holistic understanding and a relentless
    commitment to growth, I am poised to make meaningful contributions to the innovative tapestry of the tech world,
    where learning is not just a process but a lifelong pursuit.👊
  </div>
</div>
<div id="loader-wrapper">
  <p id="spinner"></p>
</div>
{% endblock %}