{% extends "./base.html" %}
{% block start %}
<div id="main-content">
  <div id="motive">🙏" 
    {% for i in shlok %}
    {{i}} <br>
    {% endfor %}📿</div>
  <div id="shlok_num">🔗<a href="https://vedabase.io/en/library/bg/{{ch}}/{{num1}}" target="_blank">-Bhagvad Gita {{num}}</a></div>
  <div id="me">😎Om Chaudhari(20)<div id="post">-I am a <span class="multiple-filed"></span></div>
  </div>
</div>
<div id="about">
  <div id="title">About</div>
  <div id="txt">

    My name is Om Chaudhari, and I am a dedicated learner with a strong passion for programming and software
    development. Currently pursuing my studies at LDRP-ITR, I have gained expertise in various programming
    languages and technologies, including Java, DSA (Data Structures and Algorithms), C, C++, OOPs
    (Object-Oriented Programming), Dart, Flutter, and Python. With a particular focus on full-stack
    development, I constantly strive to expand my knowledge and skills in this rapidly evolving field. <br>
    <br>

    Throughout my academic journey at LDRP-ITR, I have delved deep into the intricacies of programming and
    computer science. Java, a versatile language renowned for its object-oriented approach, has enabled me to
    develop robust and scalable applications. Additionally, my understanding of Data Structures and Algorithms
    (DSA) has enhanced my problem-solving abilities, enabling me to develop efficient and optimized solutions.
    I have also honed my skills in C, C++, and OOPs, allowing me to build software systems that are both
    reliable and maintainable. <br><br>

    In addition to my core knowledge, I have ventured into modern technologies to broaden my skill set. Dart
    and Flutter, popular frameworks for mobile app development, have enabled me to create captivating and
    feature-rich cross-platform applications. Furthermore, my proficiency in Python has facilitated my
    exploration of the data science domain, where I employ powerful libraries and frameworks to extract
    valuable insights from vast datasets. As a full-stack developer, I have gained expertise in front-end
    technologies such as HTML, CSS, and JavaScript, alongside back-end frameworks like Node.js and Django,
    allowing me to develop end-to-end web applications. <br><br>

    My journey as a learner and developer goes beyond academic pursuits. I am driven by a deep passion for
    programming and an insatiable curiosity for learning new technologies. I actively engage in personal
    projects, participate in coding challenges, and contribute to open-source communities, all of which have
    enhanced my skills and expanded my knowledge base. This commitment to continuous growth allows me to stay
    up-to-date with the latest trends and advancements in the ever-evolving field of software development.
    <br><br>

    In conclusion, I am Om Chaudhari, a dedicated learner and full-stack developer with a broad skill set in
    Java, DSA, C, C++, OOPs, Dart, Flutter, Python, and full-stack development. Through my academic journey at
    LDRP-ITR and my passion for programming, I have acquired a strong foundation in computer science
    principles and modern technologies. I am committed to furthering my knowledge and contributing to the
    dynamic world of software development, where I can make a meaningful impact by creating innovative and
    impactful solutions. <br><br>
  </div>
</div>
{% endblock %}