#main {
    display: flex;
    justify-content: center;
}

.container {
    margin: 10px;
    padding: 100px;
    align-items: center;
    background-color: rgb(58, 57, 57);
    justify-content: center;
    /* Keep only one instance of justify-content */
}

#btn:hover {
    border: 2px solid rgb(123, 123, 123);
    background-color: transparent;

}

.container {
    margin-top: 4em;
    background-color: rgb(58, 57, 57);
    /* Set your desired background color for the form */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    max-width: 1000px;
    /* Set your desired max width for the form */
    width: 100%;
    border: none;
    box-sizing: border-box;
}

/* Form Styling */
form {
    text-align: center;
}

#CM {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    border: #fff;
    margin-bottom: 20px;
}

.each {
    font-weight: bold;
    font-size: 130%;
    margin: 3%;
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin-bottom: 15px;  */
}

#center {
    display: flex;
    justify-content: center;
}

#msg {
    width: 90%;
}

/* Input and Textarea Styling */
label {
    color: #fff;
    display: block;
    text-align: left;
}

input,
textarea {

    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
}

/* Responsive Design */
@media screen and (max-width: 630px) {

    input,
    textarea {

        width: 90%;
        padding: 6px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        border: none;
    }

    .each {
        text-align: center;
        font-weight: 500;
        font-size: 100%;
        margin: 2%;
        padding: 1%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* margin-bottom: 15px;  */
    }

    label {
        width: 90%;
        color: #fff;
        display: block;
        text-align: left;
    }

    .container {
        margin-top: 1%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}