#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    border-radius:20px 20px 0px 0px ;
    height: 20em;
    transition: 0.3s;
}
h4{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgb(58, 57, 57);
    transition: 0.3s;
    width: 25%;
    margin: 2%;
    border-radius: 20px;
    transition-timing-function: ease-in-out;
  }
.card:hover{
    transform: scale(1.1);
  } 
.container {
    padding: 2px 16px;
  }
#content_main{
  color: white  ;
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  /* display: none; */
  margin: 20px 15%;
  margin-bottom: 10px;
}
#content_main #contenthr{
  display: none;
}
#content_main #contentvocab{
  display: none;
}

#content_main .content{
  display: none;
}


@media only screen and (max-width:1000px) {
  #container{
    flex-direction: column;
    align-items: center;
  }
  img{
    height: 17em;
}
}

@media only screen and (max-width:810px) {
  img{
    height: 15em;
}
b{
  font-size: 15px;
}
#content_main .content{
  font-size: medium;
}
}

@media only screen and (max-width:600px) {
  img{
    height: 12em;
}
b{
  font-size: 10px;
}
}
@media only screen and (max-width:458px){
  img{
    height: 10em;
}
b{
  font-size: 8px;
}
}
@media only screen and (max-width:350px){
  img{
    height: 5em;
}
b{
  font-size: 7px;
}
}