* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#post>.multiple-filed {
    color: #00ffa3;
}
#shlok_num {
    font-family: 'Oswald', sans-serif;
    font-size:20px ;
    text-align: end;
    color: #fbff00;
    padding-right:5%;
}

@keyframes texts{
    0% {
        color:  rgb(0, 255, 98);
    }

    100% {
        color:  rgb(0, 174, 255);
    }
    }

.typed-cursor {
    color: #00ffa3;
}

/* Create a content of person  */
::selection {
    color: white;
    background: rgb(68, 0, 255);
}

#img {
    border-radius: 100%;
    margin: 15px;
    margin-top: 10px;
    width: 95%;
    height: 95%;
    transition: 1s;
    transition-timing-function: ease-in-out;
    border: transparent;
}

#img:hover {
    border: transparent;
    transform: scale(1.1);
}

#bg {

    /* background: rgb(255, 0, 232); */
    background: linear-gradient(144deg, rgb(174, 0, 255) 0%, rgba(158, 0, 255, 1) 45%, rgba(0, 202, 255, 1) 100%);
    /* background-color: white; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
}

#cards {
    display: flex;
    width: 100%;
    height: 10%;
}

.left-one {
    width: auto;
    height: 10px;
}

#cards>#person {
    background-color: rgb(58, 57, 57);
    width: 20%;
    height: auto;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.4);
    box-decoration-break: slice;
}

#person>#imgdiv {
    display: flex;
    justify-content: center;
}

#cards #person #logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 10%;
}

#btn {
    display: block;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: white;
    border: 2px solid white;
    background-color: rgb(41, 41, 41);
    border-radius: 0%;
    /* Combine both animations into a single animation */
    transition-duration: 2s;
    animation: borders 3s infinite;
}

@keyframes borders {
    0% {
        border: 2px solid rgb(0, 255, 98);
    }

    50% {
        border: 2px solid rgb(0, 174, 255);
    }

    75% {
        border: 2px solid rgb(153, 0, 255);
    }

    100% {
        border: 2px solid rgb(200, 255, 0);
    }
}

@keyframes effects {
    0% {
        box-shadow: 0px 0px 32px 12px rgb(0, 255, 98);
        border: 2px solid rgb(0, 255, 98);
    }

    50% {
        box-shadow: 0px 0px 32px 12px rgb(0, 174, 255);
        border: 2px solid rgb(0, 174, 255);
    }

    75% {
        box-shadow: 0px 0px 32px 12px rgb(153, 0, 255);
        border: 2px solid rgb(153, 0, 255);
    }

    100% {
        box-shadow: 0px 0px 32px 12px rgb(200, 255, 0);
        border: 2px solid rgb(200, 255, 0);
    }
}

#ac {
    text-decoration: none;
}

#btn:hover {
    border: 2px solid rgb(123, 123, 123);
    background-color: transparent;
    animation: effects 3s infinite;
}

#person #skillbar .bars {
    width: 90%;
    height: 50%;
    margin: 5% auto;

}

#skillbar #div1 {
    margin: 0% 10%;
    border-bottom: white;
}

#skillbar #div1 .wd {
    font-size: large;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    text-align: center;
    margin: 10% 0%;
}

#cards #person .bi {
    fill: rgb(255, 255, 255);
    transition-duration: .5s;
    border-radius: 5px;
}

#cards #person .bi-linkedin:hover {
    fill: rgb(63, 63, 255);
}

#cards #person .bi-github:hover {
    fill: rgb(132, 0, 255);
}

/* for detail */
#cards #detail {
    margin: 20px;
    display: block;
    width: 80%;
    background-color: rgb(58, 57, 57);
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

#cards #detail #name {
    display: block;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* navigation bar */
.right-one #content #nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 11px;
    transition-duration: .5s;
}

.right-one #content #nav ul li {
    margin: 0px 20px;
    list-style-type: none;
    font-size: large;
    color: white;
    border-bottom: 2px solid transparent;
    cursor: default;
}

.right-one #content #nav ul li a {
    transition-duration: .5s;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unbounded', cursive;
    color: white;
}

.right-one #content #nav ul li a:hover {
    color: rgb(154, 154, 154);
}

/* main content */
#main-content {
    margin: 5% 20%;
}

#main-content #motive {
    text-align: center;
    color: white;
    /* text-align: center; */
    font-size:x-large;
    font-family: 'Lobster', cursive;
    margin: 0px;
}

#main-content>#me {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 4%;
}

#main-content>#me>#post {
    font-size: 35px;
    margin-top: 0%;

}

/* in about */
#about {
    margin: 5% 10%;
}

#about #title {
    color: white;
    border-bottom: 2px solid white;
    padding: 10px 0px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about #txt {
    font-size: larger;
    color: white;
    margin-top: 2%;
    font-family: 'Signika Negative', sans-serif;
}

.bars>.txt {
    font-size: larger;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* 
*
*
*
*
Responsive content 
*
*
*
*
*/

@media only screen and (max-width:1084px) {
    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }

    #main-content>#me {
        font-size: 50px;
    }

    #main-content #motive {
        font-size: x-large;
    }

    #skillbar #div1 .wd {
        font-size: 13px;
    }

    #person #skillbar .bars {
        width: 96%;

    }

    #cards #person .bi {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width:1560px) {
    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }
}


@media only screen and (max-width:1117px) {

    #cards #person button {
        padding: 5px 12px;
    }

    #skillbar #div1 #wd {
        font-size: 15px;
    }
}

@media only screen and (max-width:1000px) {
    #img {
        width: 50%;
        height: 50%;
    }

    #cards {
        flex-direction: column-reverse;
    }

    #cards #person {
        width: 90%;
        margin: 5% auto;
    }

    #cards #person #logo {
        margin: 2%;
    }

    #cards #person #btn {
        padding: 2% 5%;
        margin: 5% auto;
    }

    #cards #detail {
        width: 90%;
        margin: 3% auto;

    }

    #skillbar #div1 #wd {

        font-size: 20px;
        margin: 3% 0%;
    }

    #person #skillbar .bars {
        margin: 5% auto;
    }
}

@media only screen and (max-width:630px) {
    #main-content #motive {

        font-size: large;
    }

    #main-content>#me {
        font-size: 40px;
    }

    #main-content>#me>#post {
        font-size: 27px;
        margin-top: 0%;

    }

    .right-one #content #nav ul {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
        padding: 0%;
    }
}

@media only screen and (max-width:743px) {
    #main-content #motive {

        font-size: 20px;
    }

    #main-content>#me {
        font-size: 40px;
    }

    #main-content>#me>#post {
        font-size: 27px;
        margin-top: 0%;

    }
}

@media only screen and (max-width:595px) {
    #main-content #motive {

        font-size: 20px;
    }

    #main-content>#me {
        font-size: 35px;
    }

    #main-content>#me>#post {
        font-size: 24px;
        margin-top: 0%;

    }
}

@media only screen and (max-width:545px) {
    #about {
        font-size: 10px;
    }

    #skillbar #div1 #wd {

        font-size: 15px;
        margin: 3% 0%;
    }

    #main-content>#me {
        font-size: 30px;
    }

    #main-content>#me>#post {
        font-size: 20px;

    }

    #main-content #motive {

        font-size: large;
    }

    #main-content>#me>#post>svg {
        height: 25px;
        width: 25px;
    }
}

@media only screen and (max-width:471px) {
    #main-content #me {
        font-size: 25px;
        margin-top: 50px;
    }

    #person #skillbar .bars {
        width: 70%;
    }

    #main-content #me #post {

        font-size: 16px;
        margin-top: 5px;
    }
}

@media only screen and (max-width:420px) {
    .right-one #content #nav ul li {
        font-size: small;
    }
}

@media only screen and (max-width:375px) {
    #main-content #motive {
        font-size: 12px;
    }

    #main-content #me {
        font-size: 20px;
        margin-top: 40px;
    }

    #main-content #me #post {

        font-size: 10px;
        margin-top: 5px;
    }

    #main-content #me #post svg {
        width: 20px;
        height: 20px;
    }

    #about #txt {
        font-size: 10px;
    }

    #cards #person #btn {
        margin: 5% auto;
    }

    #cards #person #btn #ac {
        padding: 1px 2px;
        font-size: 14px;
    }

    #cards #person .bi {
        width: 20px;
        height: 20px;
    }
}